.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.TableContainer {
  height: 80vh;
  background-image: linear-gradient(to bottom right, #53646D, #040004);
}

.TableContainer td {
  border: 1px solid white;
  color: white;
  padding: 0.7rem 0.1rem;
  font-weight: bold;
}

.PaymentSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 20vw 2vmin;
  color: #F90505;
}

.PaymentSection input {
  min-width: 15rem;
}

.ButtonGroup {
  margin-left: 0.5rem;
}

.Logo {
  margin: auto;
  width: 50%;
}

.PaymentConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: white;
  background-image: linear-gradient(to bottom right, #53646D, #040004);
}

.PaymentConfirmation p {
  font-weight: bold;
  font-size: xxx-large;
}

.PaymentConfirmation span {
  font-size: x-large;
}
