.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.TableContainer {
  background-image: linear-gradient(to bottom right, #53646D, #040004);
}

.TableContainer td {
  border: 1px solid white;
  color: white;
  padding: 0.8rem 0.2rem;
  font-weight: bold;
}

.PaymentSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5vmin 20vw;
}

.PaymentSection > * {
  margin-top: 0.5rem;
}

.Logo {
  margin: auto;
  width: 50%
}
